[submodule "addenda-liverpool"]
	path = addenda-liverpool
	url = git@github.com:xmarts/addenda-liverpool.git
[submodule "xmarts_financial_factor"]
	path = xmarts_financial_factor
	url = git@github.com:xmarts/xmarts_financial_factor.git
[submodule "deltatech-sotck-negative"]
	path = deltatech-sotck-negative
	url = git@github.com:xmarts/deltatech-sotck-negative.git
[submodule "product-barcode"]
	path = product-barcode
	url = git@github.com:xmarts/product-barcode.git
[submodule "sale-discount-limit"]
	path = sale-discount-limit
	url = git@github.com:xmarts/sale-discount-limit.git
