[submodule "sale-discount-limit"]
	path = sale-discount-limit
	url = git@github.com:xmarts/sale-discount-limit.git
[submodule "addenda-liverpool"]
	path = addenda-liverpool
	url = git@github.com:xmarts/addenda-liverpool.git
[submodule "product-barcode"]
	path = product-barcode
	url = git@github.com:xmarts/product-barcode.git
