[submodule "addenda-liverpool"]
	path = addenda-liverpool
	url = git@github.com:xmarts/addenda-liverpool.git
[submodule "xmarts_financial_factor"]
	path = xmarts_financial_factor
	url = git@github.com:xmarts/xmarts_financial_factor.git
